body{
    background-image: url("../images/back.jpg");
}
#banner{
    margin: 0;
}
p{
    background-color: pink;
    font-size: 16px;
    line-height: 150%;
    padding:2px;
    color: green;
padding-left: 2%;
}
#para{
    padding:2px;
    margin: 8px;
}
#numb{
  text-align: start;
    padding: 7%;
    background-color: mediumspringgreen;
   font-size: 175%;
    
}
#score{
    padding:2% 6% 8% 1%;
    background-color: lightblue;
    margin-left: 5%;
    width: 15%;
    font-size: 18px;
    text-align: left;
}
#yourscore{
    background-color:lightcoral;
    padding: 25%;
}
img{
   
}