body{
    background-image: url("../images/back.jpg");
}
#banner{
    margin: 0;
}
p{
    background-color: pink;
    font-size: 16px;
    line-height: 150%;
    padding:2px;
    color: green;
padding-left: 2%;
}
#para{
    padding:2px;
    margin: 8px;
}
#numb{
    color: blue;
  text-align: center;
 
  padding-bottom: 14%;
  background-image: url("../images/counter.jpg");
   font-size: 200%;  
}
#score{
    padding:2% 6% 10% 1%;
  background-color: lightblue;
    width: 15%;

    font-size: 18px;
    text-align: left;
}
#yourscore{
    background-image: url("../images/target.jpg");
   padding: 18%;
   font-size: 200%;  
}

#gem{
  margin-top: 1%;
   background-color: white;

}

 